<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DBBS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="/">Главная</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mx-2" href="/queries/">Список запросов</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mx-2" href="/query_groups/">Список групп запросов</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mx-2" href="/queries_in_groups/">Список запросов в группах</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mx-2" href="/benchmarks/">Замеры производительности</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mx-2" href="/compare_params/">Сравнение замеров</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Еще:
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/query_create/">Создать запрос</a></li>
                        <li><a class="dropdown-item" href="/query_group_create/">Создать группу запросов</a></li>
                        <li><a class="dropdown-item" href="/query_in_group_create/">Добавить запрос в группу</a></li>
                        <li><a class="dropdown-item" href="/about/">О нас</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
