{% extends 'dbbs_app/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1>Группа запросов "{{ query_group.id }}"</h1>

<p class="card-text"><b>Код:</b> {{ query_group.code }}</p>
<p class="card-text"><b>Описание:</b> {{ query_group.description }}</p>

<div style="margin-bottom: 20px; text-align: right;">
    <a class="btn btn-light" href="{% url 'query_group_list' %}">К списку групп запросов</a>
    <a href="{% url 'query_group_edit' query_group.id %}" class="btn btn-primary" role="button">Редактировать</a>
    <a href="{% url 'query_group_delete' query_group.id %}" class="btn btn-danger" role="button">Удалить</a>
</div>
{% endblock %}
